body {
  background: black;
  display: flex;
  justify-content: center;
}

span, h1, button, aside, ol, li {
  font-family: Orbitron;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 30px;
}

li {
  color: white;
}

footer.health {
  visibility: hidden;
  position: absolute;
  left: 50px;
  margin-top: 850px;
  width: 500px;
  height: 20px;
  border-radius: 5px;
  border: 3px solid white;
}

footer.active {
  visibility: visible;
}

div.bar {
  background: white;
  width: 100%;
  z-index: 1000;
  height: 20px;
  top: -10px;
  left: -10px;
}

aside.score {
  position: absolute;
  color: white;
  font-size: 24px;
  top: 5px;
  right: 10px;
  z-index: 999;
  visibility: hidden;
}

aside.power {
  position: absolute;
  color: white;
  font-size: 24px;
  top: 5px;
  left: 10px;
  z-index: 999;
  visibility: hidden;
}

aside.active {
  visibility: visible;
}

span {
  font-size: 24px;
}

span.finalscore {
  font-size: 30px;
}

h1 {
  font-size: 50px;
  margin-bottom: 50px;
}

h1.finalscore {
  margin-bottom: 0;
}

div {
  position: relative;
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 10px;
}

section {
  position: absolute;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 250px;
  z-index: 10;
}

button {
  background: black;
  color: white;
  border: 1px solid white;
  padding: 5px 15px;
  border-radius: 3px;
  margin-top: 30px;
  font-size: 24px;
}

button:hover {
  cursor: pointer;
  text-shadow: 0 0 0 white;
}

button:focus {
  outline: none;
}

h1 {
  color: white;
}

span {
  color: white;
}

canvas {
  position: absolute;
  border: 1px solid white;
}

section.end {
  display: none;
  margin-top: -50px;
}

section.end.active {
  display: flex;
}

section.playing {
  display: none;
}

section.pause {
  display: none;
}

section.paused {
  position: static;
  display: flex;
  flex-direction: column;
}

section.paused button {
  position: relative;
  z-index: 999;
}

button.restart {
  margin-top: 400px;
}

section.paused div {
  position: absolute;
  height: 900px;
  width: 600px;
  margin: 0;
  top: 1px;
  left: 0px;
  background: grey;
  opacity: 0.7;
}

ul.links {
  display: flex;
  flex-direction: column;
}

figure {
  margin: 0;
  margin-top: 10px;
}

figure.github:hover {
  background-color: #264161;
  cursor: pointer;
  border-radius: 50%;
}

figure.linkedin:hover {
  background-color: #264161;
  cursor: pointer;
  border-radius: 5px;
}

figure.github {
  background-image: url('./github-icon.png');
  background-size: contain;
  height: 50px;
  width: 50px;
  margin-top: 10px;
}

figure.linkedin {
  background-image: url('./linkedin.png');
  background-size: contain;
  height: 50px;
  width: 50px;
}

a {
  display: block;
  height: 50px;
  width: 50px;
}
