body {
  background: black;
  display: flex;
  justify-content: center;
}

span, h1, button, aside, ol, li {
  font-family: Orbitron;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 30px;
}

li {
  color: white;
}

aside {
  position: absolute;
  color: white;
  font-size: 24px;
  top: 5px;
  right: 10px;
  z-index: 999;
  visibility: hidden;
}

aside.active {
  visibility: visible;
}

span {
  font-size: 24px;
}

span.finalscore {
  font-size: 30px;
}

h1 {
  font-size: 50px;
  margin-bottom: 50px;
}

h1.finalscore {
  margin-bottom: 0;
}

div {
  position: relative;
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 10px;
}

section {
  position: absolute;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 250px;
  z-index: 10;
}

button {
  background: black;
  color: white;
  border: 1px solid white;
  padding: 5px 15px;
  border-radius: 3px;
  margin-top: 30px;
  font-size: 24px;
}

button:hover {
  cursor: pointer;
  text-shadow: 0 0 0 white;
}

button:focus {
  outline: none;
}

h1 {
  color: white;
}

span {
  color: white;
}

canvas {
  position: absolute;
  border: 1px solid white;
}

section.end {
  display: none;
  margin-top: -50px;
}

section.end.active {
  display: flex;
}

section.playing {
  display: none;
}
